$description-color: $secondary-text-color;
$title-color: $primary-text-color;

.cards__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;


    // @include just-tablet {
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     justify-content: center;
    // }
    //TABLET 
    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    // @include just-desktop {
    //     display: flex;
    //     flex-direction: row;
    // }
    //DESKTOP
    @media screen and (min-width: 1200px){
        display: flex;
        flex-direction: row;
    }

}

.card{
    background-color: #68b3e9;
    border-radius: $border-radius;
    padding: 3.2rem;

    //TABLET 
    @media screen and (min-width: 768px){
    width: 30%;
    }
    // @include just-tablet {
    // width: 30%;
    // }

    //DESKTOP
    @media screen and (min-width: 1200px){
        width: calc(20% - 80px);
    }
    // @include just-desktop {
    //     @media screen and (min-width: 1200px){
    //         width: calc(20% - 80px);
    //     }   
    // }

    &--shadow{
        @extend .card;
        box-shadow: 0 0 0 0 rgba(#000000, 2.0);
    }

    &__icon {
        margin: 2rem auto;
        width: 7rem;
    }

    &__title {
        @include font('bold');
        color: $title-color;
        font-size: 2.4rem;
        font-weight: bolder;
    }

    &__description {
        color: $description-color;
        font-size: 1.8rem;
    }
}