$info-icon-size: 2.4rem;
$title-color: $primary-text-color;
$current-day-color: $secondary-text-color;
$description-color: $secondary-text-color;

 
.city-temperature{
    &__title {
        color: $title-color;
        font-size: 3.2rem;
    }

    &__current-day {
        color: $current-day-color;
        font-size: 2.4rem;
    }
}

.info {
    display: flex; 
    align-items: center;
    padding: .4rem 0;

    &__icon{
        width: $info-icon-size;
    }

    &__description{
        color: $description-color;
        font-size: 1.8rem;
    }
}

